<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="shortcut icon" href="~/Martz90-Circle-Addon2-Plane-flight.ico" />

</head>
<body style="background-image: url('../../bg4.jpg')">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Flamingo Airways", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <img src="~/Airline1.png" height="70" width="200">
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Login", "LoginView", "Login")</li>
                    <li>@Html.ActionLink("Register", "RegisterView", "Login")</li>
                    <li>@Html.ActionLink("AdminPortal", "AdminLogin", "Admin")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <br/>
                    <li class="badge">Let Your Dreams Fly </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Flamingo Airways</p>
            &nbsp Find us on
            <div>
                <ul class="nav navbar-nav navbar-left">

                    <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="mailto:" target="_blank"><i class="far fa-envelope"></i></a></li>
                </ul>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
